<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Intelligent Quiz</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'quiz.css' %}" />
</head>
<body>
    <div class="centeredContent">
        <div class="title">Intelligent Quiz</div>
        <div class="line"></div>

        <form action="{% url 'submit' %}" method="post">
        {% csrf_token %}
        {% if question_list %}

            {% for question in question_list %}
                <div class="questionArea">Q{{ question.id }}.  {{ question.question_text }}</div>
                <div class="inputAnswerArea">
                    <textarea name="answer{{ question.id }}" required="true" maxlength="1000" class="inputText"></textarea>
                </div>
            {% endfor %}
            <div class="submitButton"><input type="submit" value="Submit"/></div>
        {% else %}
            <p>No questions are available.</p>
        {% endif %}
        </form>
    </div>
</body>
</html>